@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-bg: var(--bg);
	--color-surface: var(--surface);
	--color-fg: var(--fg);
	--color-muted: var(--muted);
	--color-border: var(--border);
}

@layer base {
	:root {
		color-scheme: dark;
		--bg: hsl(24 5% 10%);
		--surface: hsl(24 5% 15%);
		--fg: var(--color-stone-100);
		--muted: var(--color-stone-400);
		--border: --alpha(var(--color-stone-50) / 10%);
	}

	html {
		scroll-behavior: smooth;
		font-size: 16px;
	}

	body {
		background-color: var(--bg);
		color: var(--fg);
	}
}

@layer components {
	.squircle {
		border-radius: 1.5rem;
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
			border-radius: 3rem;
		}
	}

	.squircle-sm {
		border-radius: 1.25rem;
		@supports (corner-shape: squircle) {
			corner-shape: squircle;
			border-radius: 2rem;
		}
	}
}
